@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "UTM Avo";
  src: url("../fonts/utm-avobold.ttf");
}

@font-face {
  font-family: "SFU Helvetica";
  src: url("../fonts/SFUHelveticaRegular.TTF");
}

@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/SVNGilroy.otf");
}

body {
  margin: 0;
  -moz-user-select: none !important;
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

a {
  text-decoration: none;
}

.header {
  background-image: url("./../images/bg-header-top-v2.png");
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-top: 0px;
  position: relative;
}

.layout-header {
  /* background: linear-gradient(180deg, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.00) 100%); */
  z-index: 999;
  position: relative;
}

/* .layout-color{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.4;
    background: #0f7899;
} */
.logo-main {
  padding-top: 40px;
}

.logo-desc {
  margin-top: 6px;
  padding-bottom: 36px;
}

.box-download {
  position: absolute;
  bottom: 0;
  transform: translateX(-50%);
  left: 50%;
  gap: 120px;
  width: 80%;
  justify-content: space-between;
}

.item-app {
  max-width: 430px;
  width: 100%;
  height: 100%;
}

.link-down-app {
  display: flex;
}

.download-ap {
  width: 100%;
  background: linear-gradient(
    181deg,
    #fff 1.22%,
    #fff 38.18%,
    #cadeff 85.4%,
    #5992f4 106.82%
  );
  fill: var(
    --1,
    linear-gradient(
      181deg,
      #fff 1.22%,
      #fff 38.18%,
      #cadeff 85.4%,
      #5992f4 106.82%
    )
  );
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 50px;
}

.frame-down {
  position: absolute;
  left: -2px;
  top: 50%;
  transform: translateY(-50%);
}

.frame-icon {
  position: absolute;
  left: -50%;
  width: 100%;
}

.text-download {
  width: calc(100% + 25%);
  color: #0053e0;
  text-align: center;
  font-family: "UTM Avo";
  font-size: 24px;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.click-video {
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.click-video-2 {
  z-index: 9;
  position: absolute;
  max-width: 40%;
  top: 3px;
  transform: translateY(-50%);
}

.click-video-2 img {
  width: 100%;
}

.box-email {
  margin-top: 80px;
  padding-bottom: 60px;
}

.app-main {
  background-color: #0053e0;
  padding: 20px 0;
  width: 100%;
}

.text-villa {
  display: flex;
  align-items: center;
}

.text-doi-tac h3 {
  color: #fff;
  font-family: "Roboto";
  font-size: 20.273px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

.text-doi-tac p {
  color: #fff;
  font-family: "Roboto";
  font-size: 20.273px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 0;
}

.solid-partner {
  background: #ffffff;
  width: 1.3333px;
}

.footer {
  margin-top: 40px;
}

.footer-logo-sponsor {
  padding-top: 0px;
}

.footer-logo-sponsor img {
  width: 100%;
  /* height: auto; */
}

.logo-okvip {
  height: 60% !important;
}

.info {
  margin-bottom: 12px;
}

.title-info {
  margin-bottom: 24px;
}

.info-text {
  margin: 0;
  color: #0053e0;
  font-family: "Roboto";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  /* 36px */
  text-transform: capitalize;
}

.link-info {
  margin-bottom: 16px;
}

.link-info a {
  color: #0053e0;
  font-family: "Roboto";
  font-size: 20.242px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
  margin-bottom: 16px;
}

.slogan-cty {
  margin-bottom: 40px;
}

.slogan-left {
  max-width: 45%;
}

.slogan-left .content {
  margin-top: 14px;
}

.slogan-left .content p {
  color: #0053e0;
  font-family: "SFU Helvetica";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-align: justify;
  margin-bottom: 0;
}

.slogan-right {
  max-width: 31%;
}

.slogan-right-2 {
  display: flex;
  padding: 16.971px 0px 0px 0px;
  flex-direction: column;
  gap: 75.336px;
}

.slogan-right-2 h4 {
  color: #0053e0;
  font-family: "Roboto";
  font-size: 24.29px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  text-transform: capitalize;
  margin: 0;
}

.lpfp {
  padding-top: 40px;
  margin-bottom: 40px;
}

.item-lpfp h3 {
  color: #0053e0;
  font-family: "Roboto";
  font-size: 17.413px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  text-transform: capitalize;
}

.list-mxh {
  gap: 34px;
}

.ncc {
  padding-top: 40px;
  padding-bottom: 40px;
}

.title-ncc {
  margin-bottom: 15px;
}

.title-ncc h3 {
  color: #0053e0;
  font-family: "Roboto";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  /* 36px */
  text-transform: capitalize;
}

.lpfp {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.btn-send-mail {
  max-width: 350px;
}

.see-more,
.see-scope {
  display: inline-block;
  cursor: pointer;
  text-decoration: underline;
}

.image-villarreal {
  max-width: 70px;
}

.image-okvip {
  max-width: 210px;
  margin: auto 0;
}

.modal-dialog {
  width: max-content !important;
}

.modal-content.f8bet-modal {
  background-color: #fff0;
  width: max-content;
  background-clip: padding-box;
  border: none;
  border-radius: 0;
}

.f8bet-modal .btn-close {
  right: -30px;
  position: absolute;
  background-image: none;
  top: -25px;
  cursor: pointer;
}

.f8bet-modal .btn-close svg {
  font-size: 35px;
}

.f8bet-modal .btn-close:hover {
  color: #ffffff;
}

.thumb-logo .logo {
  -webkit-filter: drop-shadow(1px 1px 3px #ffffff) brightness(1.1) !important;
  filter: drop-shadow(1px 1px 3px #ffffff) brightness(1.1) !important;
  width: 100%;
  -webkit-animation: drift 1.3s infinite alternate;
  animation: drift 1.3s infinite alternate;
}

.image-dan-1 {
  margin: auto;
  max-width: 50%;
  padding-left: 8.5%;
}

.image-dan {
  max-width: 100%;
  display: flex;
}

.box-content-header {
  position: relative;
}

.corner-icon {
  position: fixed;
  bottom: 10%;
  right: 1%;
  z-index: 1000;
}

.corner-icon img {
  width: 110px;
  height: auto;
  border-radius: 50%;
}

.rung-ring {
  animation: rung-lac 1.5s ease infinite;
}

@-webkit-keyframes rung-lac {
  0% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }

  10% {
    -webkit-transform: rotate(-5deg) scale(1) skew(1deg);
  }

  20% {
    -webkit-transform: rotate(5deg) scale(1) skew(1deg);
  }

  30% {
    -webkit-transform: rotate(-5deg) scale(1) skew(1deg);
  }

  40% {
    -webkit-transform: rotate(5deg) scale(1) skew(1deg);
  }

  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }

  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
}

@-webkit-keyframes drift {
  to {
    -webkit-transform: translateY(-8%);
    transform: translateY(-8%);
  }
}

@keyframes drift {
  to {
    -webkit-transform: translateY(-8%);
    transform: translateY(-8%);
  }
}

@media screen and (max-width: 1024px) {
  /* .item-app {
        max-width: 400px;
    } */
  .link-info a {
    font-size: 16px;
  }

  .slogan-left {
    max-width: 50%;
  }

  .slogan-left .content {
    margin-top: 8px;
  }

  .slogan-left .content p {
    font-size: 16px;
  }

  .slogan-right {
    max-width: 43%;
  }

  .slogan-right-2 {
    gap: 65px;
  }

  .slogan-right-2 h4 {
    font-size: 22px;
  }

  .btn-send-mail {
    max-width: 40%;
  }

  .list-mxh {
    gap: 20px;
    width: 100%;
  }

  .item-mxh {
    width: 33.33%;
  }

  .item-mxh img {
    width: 100%;
  }

  .item-lpfp h3 {
    font-size: 16px;
  }

  .lpfp {
    gap: 20px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    background-image: url("./../images/bg-header-top-v2.png");
    background-size: auto 100%;
  }

  .thumb-logo {
    max-width: 54%;
  }

  .thumb-desc {
    max-width: 90%;
  }

  .logo-main {
    padding-top: 32px;
  }

  .logo-desc {
    margin-top: 12px;
  }

  .box-download {
    margin-top: 24px;
    position: relative;
    width: 100%;
    padding-bottom: 20px;
  }

  .click-video {
    display: none;
  }

  .item-ios {
    margin: auto;
    padding-bottom: 12px;
  }

  .link-down-app {
    max-width: 75%;
    margin: auto;
  }

  .btn-send-mail {
    max-width: 55%;
  }

  .box-email {
    margin-top: 40px;
    padding-bottom: 60px;
  }

  .app-main {
    padding: 8px 0;
  }

  .text-doi-tac h3 {
    font-size: 16.459px;
  }

  .text-doi-tac p {
    font-size: 14.744px;
    font-weight: 300;
  }

  .image-villarreal {
    max-width: 48.18px;
    max-height: 59.192px;
  }

  .image-okvip {
    max-width: 110px;
    max-height: 37px;
    margin: auto 0;
  }

  .lpfp {
    padding-top: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 22px 12%;
  }

  .list-mxh {
    gap: 20px;
    width: 100%;
  }

  .item-mxh {
    width: 33.33%;
  }

  .item-mxh img {
    width: 100%;
  }

  .image-dan {
    position: relative;
  }

  .image-dan-1 {
    padding-left: 0;
    width: 80%;
  }

  .logo-desc-mb {
    position: absolute;
    bottom: 0;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
  }

  .corner-icon {
    position: fixed;
    bottom: 5%;
    right: 2%;
  }

  .corner-icon img {
    width: 60px;
    height: auto;
    border-radius: 50%;
  }

  @media screen and (max-width: 374px) {
    .logo-desc {
      margin-top: 40px;
    }

    .thumb-logo {
      max-width: 60%;
    }

    .thumb-desc {
      max-width: 100%;
    }

    .btn-send-mail {
      max-width: 80%;
    }

    .text-doi-tac h3 {
      font-size: 14px;
    }

    .text-doi-tac p {
      font-size: 12px;
    }

    .image-villarreal {
      max-width: 45px;
      height: auto;
    }

    .image-okvip {
      max-width: 80px;
      height: auto;
    }
  }
}

/* Footer */
.footer-logo p {
  font-size: 22px;
  color: #0053e0;
  margin-top: 10px;
  text-align: justify;
  line-height: 1.5;
}

.footer-sponsor h3 {
  font-size: 24px;
  color: #0053e0;
  font-weight: 700;
  margin-bottom: 10px;
}

.footer-sponsor p {
  font-size: 22px;
  color: #0053e0;
}

.item-icon img {
  height: 50px;
}

.img-chu-ky:hover,
.okvip-pc:hover,
.item-icon:hover {
  opacity: 0.7;
}

.okvip-mobie,
.footer-protect-mobie,
.footer-social-mobie {
  display: none;
}

.okvip-pc {
  height: 68px;
}

.img-protect {
  height: 49px;
}

.img-protect:hover {
  opacity: 0.7;
}

.footer-sponsor-mobie {
  display: none;
}

.list-link-footer a {
  font-size: 17px;
  color: #0053e0;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
}

.copyright {
  text-align: center;
  font-size: 16px;
  color: #0053e0;
  padding: 12px 0;
  font-weight: 500;
}

.see-more,
.see-scope {
  text-decoration: underline;
  font-style: italic;
  cursor: pointer;
}

.footer-logo img {
  height: 97px;
}

.footer-social {
  margin: 25px 0;
}

.hr {
  height: 25px;
  width: 2px;
  background: #0053e0;
}

@media screen and (max-width: 1599px) {
  /* Footer */

  .img-protect {
    height: 49px;
  }

  .footer-logo p,
  .footer-sponsor p {
    font-size: 20px;
  }

  .footer-sponsor h3 {
    font-size: 22px;
  }
}

@media screen and (max-width: 1399px) {
  /* Footer */
  .footer-logo img {
    height: 85px;
  }

  .item-icon img {
    height: 45px;
  }

  .okvip-pc {
    height: 55px;
  }

  .img-protect {
    height: 42px;
  }

  .footer-sponsor h3 {
    font-size: 20px;
  }

  .footer-logo p,
  .footer-sponsor p {
    font-size: 18px;
  }

  .list-link-footer a {
    font-size: 15px;
  }
}

@media screen and (max-width: 1199px) {
  /* Footer */
  .footer-logo-sponsor {
    padding-top: 0;
  }

  .footer-logo-sponsor img {
    width: 85%;
    height: 85%;
  }

  .logo-okvip {
    height: 50% !important;
  }

  .footer-logo img {
    height: 70px;
  }

  .img-protect {
    height: 34px;
  }

  .okvip-pc {
    height: 50px;
  }

  .item-icon img {
    height: 34px;
  }

  .footer-logo p,
  .footer-sponsor p {
    font-size: 15px;
  }

  .copyright {
    font-size: 15px;
  }

  .link-item {
    width: 33%;
    margin-bottom: 10px;
  }

  .hr {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  /* Footer */
  .footer-logo img {
    height: 54px;
  }

  .footer-logo p {
    font-size: 16px;
    line-height: 1.4;
  }

  .img-protect {
    height: 26px;
  }

  .okvip-pc {
    height: 37px;
  }

  .footer-sponsor h3 {
    font-size: 18px;
  }

  .footer-sponsor p {
    font-size: 16px;
  }

  .img-chu-ky {
    height: 49px;
  }

  .copyright {
    font-size: 13px;
  }

  .item-icon img {
    height: 26px;
  }

  .list-link-footer a {
    font-size: 12px;
  }
}

@media screen and (max-width: 767px) {
  /* Footer */
  .footer-logo,
  .footer-logo-sponsor,
  .okvip-pc,
  .footer-social {
    display: none;
  }

  .footer-protect-mobie,
  .okvip-mobie,
  .footer-sponsor-mobie,
  .footer-social-mobie {
    display: block;
  }

  .okvip-mobie {
    height: 60px;
  }

  .img-chu-ky {
    margin-right: 50px;
    height: 60px;
  }

  .footer-sponsor h3 {
    font-size: 20px;
  }

  .footer-sponsor p {
    font-size: 18px;
  }

  .title-icon {
    font-size: 20px;
    color: #0053e0;
    margin-bottom: 10px;
  }

  .list-mxh {
    column-gap: 10%;
  }

  .copyright {
    display: none;
  }

  .link-footer {
    display: none;
  }
}

@media screen and (max-width: 575px) {
  /* Footer */
  .footer-sponsor h3,
  .title-icon {
    font-size: 18px;
  }

  .footer-sponsor p {
    font-size: 16px;
    font-weight: 600;
  }

  .okvip-mobie {
    height: 60px;
  }

  .img-chu-ky {
    margin-right: 0px;
  }

  .list-link-footer a {
    font-size: 14px;
  }

  .copyright {
    font-size: 14px;
    padding: 14px 0;
  }
}

@media screen and (max-width: 475px) {
  .okvip-mobie {
    height: 45px;
  }
}

@media screen and (max-width: 375px) {
  /* Footer */
  .footer-sponsor h3,
  .title-icon {
    font-size: 14px;
  }

  .footer-sponsor p {
    font-size: 14px;
  }

  .okvip-mobie {
    height: 42px;
  }

  .img-chu-ky {
    height: 50px;
  }

  .img-icon {
    height: 42px;
  }

  .list-link-footer a {
    font-size: 12px;
  }

  .copyright {
    font-size: 12px;
  }

  .item-icon img {
    height: 30px;
  }
}

@media screen and (max-width: 320px) {
  /* Footer */
  .footer-sponsor h3,
  .title-icon {
    font-size: 14px;
  }

  .footer-sponsor p {
    font-size: 14px;
  }

  .img-chu-ky {
    margin-right: 0px;
    height: 45px;
  }

  .okvip-mobie {
    height: 42px;
  }

  .img-icon {
    height: 42px;
  }
}
